body {
   background-color: rgb(221, 237, 248);
   text-align: center;
   margin: 3%;
}

/* table {
   width: 100%;
   border: 1px solid black;
   border-radius: 1%;
   border-collapse: collapse;
} */

form {
   width: 90%;
   display: inline-block;
}

/* input {
   margin: auto;
} */

/* th {
   border: 1px solid black;
   padding: 1%;
}

thead {
   background-color: black;
   color: white;
}

td {
   text-align: center;
   background-color: rgb(213, 224, 255);
   border-left: 1px solid black;
   border-right: 1px solid black;
   border-bottom: 1px solid black;
} */

button {
   border-radius: 5%;
}
